# Variables used by 'aws-clientvpn-helper' setup script.

# Make sure the working directory is correct.
WORKDIR=~/aws-clientvpn-helper

SERVERNAME=vpn.colearn.id
DNSSERVERS=10.10.0.2
CLIENTNAME=infra.vpn.colearn.id
VPNCIDRBLOCK=172.38.0.0/22
EASYRSAPATH=./easy-rsa/easyrsa3
OVPNCFGFILE=infra-client-config.ovpn
